<table id="details">
  {% assign blue_teams = page.blue_teams | split: ", " %}
  {% assign red_teams = page.red_teams | split: ", " %}

  <thead><tr><td colspan="2"><strong>Teams</strong></td><td><strong>Score</strong></td></tr></thead>
  <tr>
    <td class="red">{{ page.red_team1 }}</td>
    <td class="red">{{ page.red_team2 }}</td>
    <td class="red">{{ page.red_score }}</td>
  </tr>
  <tr>
    <td class="blue">{{ page.blue_team1 }}</td>
    <td class="blue">{{ page.blue_team2 }}</td>
    <td class="blue">{{ page.blue_score }}</td>
  </tr>
</table>
