<table>
  <thead><tr><td><strong>Red Alliance</strong></td><td><strong>Field</strong></td><td><strong>Blue Alliance</strong></td></tr></thead>
  <tr>
    {% assign red_zone1_score = page.red_zone1 | times: site.data.scoring.zone1 %}
    {% assign blue_zone1_score = page.blue_zone1 | times: site.data.scoring.zone1 %}
    <td class="red">{{ page.red_zone1 }} (+{{ red_zone1_score }})</td>
    <td>Relics in Zone 1</td>
    <td class="blue">{{ page.blue_zone1}} (+{{ blue_zone1_score }})</td>
  </tr>
  <tr>
    {% assign red_zone2_score = page.red_zone2 | times: site.data.scoring.zone2 %}
    {% assign blue_zone2_score = page.blue_zone2 | times: site.data.scoring.zone2 %}
    <td class="red">{{ page.red_zone2 }} (+{{ red_zone2_score }})</td>
    <td>Relics in Zone 2</td>
    <td class="blue">{{ page.blue_zone2 }} (+{{ blue_zone2_score }})</td>
  </tr>
  <tr>
    {% assign red_zone3_score = page.red_zone3 | times: site.data.scoring.zone3 %}
    {% assign blue_zone3_score = page.blue_zone3 | times: site.data.scoring.zone3 %}
    <td class="red">{{ page.red_zone3 }} (+{{ red_zone3_score }})</td>
    <td>Relics in Zone 3</td>
    <td class="blue">{{ page.blue_zone3}} (+{{ blue_zone3_score }})</td>
  </tr>
  <tr>
    {% assign red_upright_score = page.red_upright | times: site.data.scoring.upright %}
    {% assign blue_upright_score = page.blue_upright | times: site.data.scoring.upright %}
    <td class="red">{{ page.red_upright }} (+{{ red_upright_score }})</td>
    <td>Relics Upright</td>
    <td class="blue">{{ page.blue_upright}} (+{{ blue_upright_score }})</td>
  </tr>
  <tr>
    {% assign red_balance_score = page.red_balance | times: site.data.scoring.balance %}
    {% assign blue_balance_score = page.blue_balance | times: site.data.scoring.balance %}
    <td class="red">{{ page.red_balance }} (+{{ red_balance_score }})</td>
    <td>Robots Balanced</td>
    <td class="blue">{{ page.blue_balance}} (+{{ blue_balance_score }})</td>
  </tr>
  <tr class="bold">
    <td class="red">{{ red_zone1_score | plus: red_zone2_score | plus: red_zone3_score | plus: red_upright_score | plus: red_balance_score }}</td>
    <td>End Game Total</td>
    <td class="blue">{{ blue_zone1_score | plus: blue_zone2_score | plus: blue_zone3_score | plus: blue_upright_score | plus: blue_balance_score }}</td>
  </tr>
</table>
