{% assign teams = "" %}

{% assign d = "|" %}

{% for post in site.posts %}
  {% unless post.title == "Match <#>" %}

  {% unless teams contains post.blue_team1 %}
    {% assign teams = teams | append: post.blue_team1 | append: d %}
  {% endunless %}

  {% unless teams contains post.blue_team2 %}
    {% assign teams = teams | append: post.blue_team2 | append: d %}
  {% endunless %}

  {% unless teams contains post.red_team1 %}
    {% assign teams = teams | append: post.red_team1 | append: d %}
  {% endunless %}

  {% unless teams contains post.red_team2 %}
    {% assign teams = teams | append: post.red_team2 | append: d %}
  {% endunless %}

  {% endunless %}
{% endfor %}

{% assign teams = teams | split: d %}

{% assign len = teams | size | minus: 1 %}
{% assign glyph = 0 %}

<table>
  {% for i in (0..len) %}
    <tr>
      <td>{{ teams[i] }}</td>
      {% for post in site.posts %}
        {% unless post.title == "Match <#>" %}
        {% if teams[i] == post.blue_team1 %}
          <td>{{ post.blue1_glyph }}</td>
        {% endif %}
        {% if teams[i] == post.blue_team2 %}
          <td>{{ post.blue2_glyph }}</td>
        {% endif %}
        {% if teams[i] == post.red_team1 %}
          <td>{{ post.red1_glyph }}</td>
        {% endif %}
        {% if teams[i] == post.red_team2 %}
          <td>{{ post.red2_glyph }}</td>
        {% endif %}
        {% endunless %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
