---
---

@import "{{ site.theme }}";

$table-text-align: center;

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 2px solid #ddd;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);

    }

  }

  th, thead {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
  }

  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    border: 1px solid #ddd;
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }

}
