---
layout: default
---

<style>
  .post-teams {
    float: right;
    font-size: 14px;
    color: #828282;
  }
  .post-link {
    display: initial;
  }
</style>

<div class="home">

  <h1 class="page-header">Matches</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.comp }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <span class="post-teams">{{ post.red_teams }} | {{ post.blue_teams }}</span>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
